body {
  background-color: #fff; /* #f9f9f9 */

  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
}
hr {
  border-bottom: 3px solid #242f1e;
}
label {
  font-size: 18px;
  margin-bottom: 2px;
  color: #4A4A4A;
  font-weight: normal;
}

#body p {
  font-size: 16px;

  margin-bottom: 10px;
  text-align: justify;

  color: #333;
}
#body h1 {
  font-size: 38px;

  margin-top: 20px;
  margin-bottom: 10px;

  color: #2e3c25;
}
#body h2 {
    font-size: 32px;

    margin-top: 20px;
    margin-bottom: 10px;

    color: #2e3c25;
}
#body h3 {
    font-size: 26px;

    margin-top: 20px;
    margin-bottom: 10px;

    color: #2e3c25;
}
#body h4 {
    font-size: 20px;

    margin-top: 20px;
    margin-bottom: 10px;

    color: #2e3c25;
}

#body a {
    color: #2e3c25;
}


/* // HEADER // */
#header-container {
  width: 100%;
  height: 450px;

  /* margin-top: 50px; */

  background: url(../img/header/league1.jpg) no-repeat;
  background-attachment: fixed;
  background-size: cover;
  /* background-color: #1f1f1f; */
}

#header-logo {
  position: relative;
  display: inline-block;

  -webkit-transition: max-height 0.2s ease-out;
  -moz-transition: max-height 0.2s ease-out;
  -o-transition: max-height 0.2s ease-out;
  transition: max-height 0.2s ease-out;

  max-height: 190px;
  margin-top: 130px;
}
#header-logo:hover {
  max-height: 210px;
}

@media (max-width: 767px) {
  #header-container {
    width: 100%;
    height: 300px;
  }

  #header-logo {
    max-height: 140px;
    margin-top: 80px;

    margin-left: 15px;
    margin-right: 15px;
  }
  #header-logo:hover {
    max-height: 140px;
  }
}


/* //   FOOTER   // */


#footer-container {
  width: 100%;
  height: 200px;

  background: url(../img/header/league2.jpg) no-repeat;
  background-attachment: fixed;
  background-size: cover;
  /* background-color: #1f1f1f; */

  margin-top: 30px;
}

#footer-logo {
  position: relative;
  display: inline-block;

  max-height: 110px;
  margin-top: 45px;

  margin-left: 15px;
  margin-right: 15px;
}

#footer-legal {
  list-style: none;
  display: inline-block;
}

@media (max-width: 767px) {
  #footer-container {
    width: 100%;
    height: 160px;
  }

  #footer-logo {
    max-height: 70px;
    margin-top: 45px;

    margin-left: 15px;
    margin-right: 15px;
  }
}



/* //   HOME   // */
#affiliation-txt {
  font-size: 11px;
  opacity: 0.8;
  text-align: right;
  margin-top: 50px;
}




/* //   DRAWS   // */


#draw-box-img {
  border: 3px solid #2e3c25;
  height: 200px;
  -moz-transition: 400ms;
  -o-transition: 400ms;
  transition: 400ms;
}
#draw-box-img:hover {
  -webkit-box-shadow: 0px 0px 21px 3px rgba(36,47,30,0.75);
  -moz-box-shadow:    0px 0px 21px 3px rgba(36,47,30,0.75);
  box-shadow:         0px 0px 21px 3px rgba(36,47,30,0.75);
}


#draw-header {
  height: 200px;
  border: 3px solid #2e3c25;
}
#draw-header-back {
  position: absolute;
}
#draw-header-front-gift {

}
#draw-header-gift {
  max-height: 200px;
}


/* Table for last winners */

.table-hover tbody tr td,
.table-hover tbody tr th {
  background-color: transparent;
  -moz-transition: 600ms;
  -o-transition: 600ms;
  transition: 600ms;
}
.table-hover tbody tr:hover td {
  background-color: #779C6D; /* D6EBDC */
}
.table-hover tbody tr:hover th {
  background-color: transparent;
}
.table > thead > tr > th,
.table > tbody > tr > th,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > tbody > tr > td,
.table > tfoot > tr > td {
  border-top: 1px solid #242f1e;
}


/*  //   Box Background   //  */

.box-img-bck-1 {
  background: url(../img/boxes-bcks/1.jpg) no-repeat;
  background-size: cover;
}
.box-img-bck-2 {
  background: url(../img/boxes-bcks/2.jpg) no-repeat;
  background-size: cover;
}

.box-img-bck-centered {
  background-size: cover;
  background-position: center;
}


/*  //   Pop up pub Draw   //  */

#blanket {
   background-color:#111;
   opacity: 0.65;
   *background:none;
   position:absolute;
   z-index: 9001;
   top:0px;
   left:0px;
   width:100%;
}

#popUpDiv {
	position:absolute;
	background-color: #fff;
	width:400px;
	height:400px;
	border:5px solid #000;
	z-index: 9002;
}

#popUpDiv {
  a position:relative;
  top:20px;
  left:20px
}
