/**  NAVBAR LOL  **/

.navbar-default {
  background-color: #2e3c25;
  border-color: #242f1e;
}
.navbar-default a {
  text-decoration: none;
  color:#e7e7e7;
}
.navbar-default .navbar-brand {
  color: #fff;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #e7e7e7;
}
.navbar-default .navbar-text {
  color: #e7e7e7;
}
.navbar-default .navbar-nav > li > a {
  color: #fff;
  text-transform: uppercase;
  -moz-transition: 400ms;
  -o-transition: 400ms;
  transition: 400ms;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  background-color: #324228;
}
.navbar-default .navbar-nav > li > .dropdown-menu {
  background-color: RGBA(26, 27, 14, 0.70);
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > a {
  color: #fff;
  text-transform: uppercase;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > a:hover,
.navbar-default .navbar-nav > li > .dropdown-menu > li > a:focus {
  color: #fff;
  background-color: #2e3c25;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > .divider {
  background-color: #fff;
}
.navbar-default .navbar-nav .open .dropdown-menu > .active > a,
.navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
.navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
  color: #fff;
  background-color: #70b5f5;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #fff;
  background-color: #ff7e7e;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  color: #fff;
  background-color: #242f1e;
}
.navbar-default .navbar-toggle {
  border-color: #fff;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #fff;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #fff;
}
.navbar-default .navbar-toggle:hover .icon-bar,
.navbar-default .navbar-toggle:focus .icon-bar {
  background-color: #2b3923;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #2b3923;
}
.navbar-default .navbar-link {
  color: #fff;
}
.navbar-default .navbar-link:hover {
  color: #fff;
}
.navbar-fixed-top{
  border-color: #2b3923;
}

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #fff;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #fff;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #fff;
    background-color: #f57070;
  }
}


/* // LOGIN DROPDOWN //  */

#login-dp{
    min-width: 250px;
    padding: 14px 14px 0;
    overflow:hidden;
    background-color:rgba(255,255,255,.8);
}
#login-dp .help-block{
    font-size:12px
}
#login-dp .bottom{
    background-color:rgba(255,255,255,.8);
    border-top:1px solid #ddd;
    clear:both;
    padding:14px;
}
#login-dp .social-buttons{
    margin:12px 0
}
#login-dp .social-buttons a{
    width: 49%;
}
#login-dp .form-group {
    margin-bottom: 10px;
}
#login-dp .btn-primary {
  color: #fff;
  background-color: #2e3c25;
  border-color: #2e3c25;
}
#login-dp .btn-primary:hover {
  color: #fff;
  background-color: #1a1b0e;
  border-color: #2e3c25;
}
#login-dp a {
  color: #2e3c25;
}
#login-dp a:hover,
#login-dp a:focus {
  color: #2b3923;
  text-decoration: none;
}
#login-dp .form-control:focus {
  border-color: #293826;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(46, 60, 37, .6);
          box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(46, 60, 37, .6);
}
@media(max-width:768px){
    #login-dp{
        background-color: inherit;
        color: #fff;
    }
    #login-dp .bottom{
        background-color: inherit;
        border-top:0 none;
    }
    #login-dp a {
      color: #2b3923;
    }
    #login-dp .btn-primary {
      color: #fff;
      background-color: #2b3923;
      border-color: #2e3c25;
    }
}

.nav-tabs {

}

.nav-tabs > li > a {
  color: #2b3923;
}

.nav-tabs:hover > li > a {
  color: #242f1e;
}
